<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/qr-scanner.css">
  </head>
  <body>
    <div class="center">
      
    <canvas id="qr"></canvas>
    <h1> {{ qr_code }} </h1>
    </div>
    <script type="text/javascript" src="../static/js/qrious.min.js"></script>
    <script type="text/javascript">
      (function() {
        var qr = new QRious({
          element: document.getElementById('qr'),
          padding: 25,
          size: 500,
          value: {{ qr_code |tojson|safe }}
        });
      })();
    </script>
  </body>
</html>
